<!doctype html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
   <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/pipit-style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div ng-view></div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<!--<script src="https://code.angularjs.org/1.3.15/angular-touch.min.js"></script>
<script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>-->

<script src="app/signals.js"></script>
<script src="app/image-loader.js"></script>
<script src="app/angular-progress-arc.js"></script>
<!--<script src="app/ngGeolocation.js"></script>-->
<script src="app/services.js"></script>
<script src="app/angular-animation-frame.js"></script>
<script src="app/angular-fullscreen.js"></script>
<script src="app/controllers.js"></script>
<script src="app/ui-slider.js"></script>
<script src="app/ui-scroll-indicator.js"></script>
<script src="app/directives.js"></script>
<script src="app/app.js"></script>
</body>
</html>