<div class="banner">
    <div class="container">
        <h1>FLICKERS<span class="small"> beta</span></h1>
    </div>

</div>

<div class="container">
    <div class="jumbotron" ng-include="partial">
        <INFO></INFO>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 portfolio-item" ng-repeat="project in projects">
            <a href="project/?id={{project.id}}">

                <img class="img-responsive" ng-src="{{project.thumb}}" alt="">
            </a>

            <h5>
                <a href="project/?id={{project.id}}">{{project.title}}</a>
            </h5>

            <p>{{project.descr}}</p>
        </div>


    </div>
</div>
</div>
